/* Reset and Global Styles */
* { 
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.root {
  display: flex;
  background-color: rgb(95, 193, 208);
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

div {
  border: 1px solid black;
  border-collapse: collapse;
}

/* Section Title Styles */
.section-title {
  flex-grow: 1;
  display: flex;
}

.section-title h1 {
  font-size: 4rem;
}

.section-title p {
  font-size: 2rem;
}

.section-title .revisions {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title .text {
  flex-grow: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Chord Progression Styles */
.chords {
  flex-grow: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.chords ol li {
  font-size: 7rem;
  display: inline;
  margin: 3rem;
}

/* Files Styles */
.files-container {
  flex-grow: 1;
  height: 35vh; /* Set the height to 35% of the viewport height */
}

.grid-container {
  display: flex;
  flex-direction: row; /* Ensure flex direction is row */
  overflow-x: auto; /* Enable horizontal scrolling */
  height: 100%; /* Make sure it takes full available height */
}

.files-grid {
  height: 100%; /* Ensure the grid takes full available height */
  flex-wrap: nowrap; /* Ensure flex direction is row and no wrapping */
}

.file-item {
  min-width: 19%; /* Adjust minWidth to control item width */
}

.item {
  padding: 2rem; /* Adjust theme.spacing(2) equivalent to 2rem */
  text-align: center;
  color: rgb(117, 117, 117); /* Adjust to theme.palette.text.secondary */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Comments Styles */
.comments {
  flex-grow: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2.5rem;
}

.comments span {
  font-size: 7rem;
  padding: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.comments p {
  padding: 3rem 0;
  padding-left: 3rem;
}

.display-comments {
  background-color: rgb(73, 229, 253);
  margin-left: 5rem;
}

/* Submit Comment Styles */
.submit {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit * {
  margin: 5rem;
}

.submit textarea {
  width: 45%;
  height: 80%;
  background-color: rgb(73, 229, 253);
}
