* { box-sizing: border-box;
}
html {font-size: 62.5%;}


.parent {
  display: flex;
  background-color: rgb(95, 193, 208);
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

div {
  border: 2px solid black;

}

.section-title {
  flex-grow: 1;
}

.chords {
  flex-grow: 2;
}

.files {
  flex-grow: 3;
}

.comments {
  flex-grow: 4;
}

.submit {
  flex-grow: 2;
}
